{
    "presets": ["next/babel"],
    "plugins": [
      [
        "babel-plugin-styled-components",
        {
          "ssr": true,
          "displayName": false,
          "pure": true
        }
      ],
      [
        "module-resolver",
        {
          "alias": {
            "@actions": "./src/actions",
            "@Layout": "./src/components/@layout",
            "@atoms": "./src/components/@atoms",
            "@molecules": "./src/components/@molecules",
            "@hooks": "./src/hooks",
            "@lib": "./src/lib",
            "@reducers": "./src/reducers",
            "@store": "./src/store",
            "@config": "./config"
          }
        }
      ]
    ]
  }
  