{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": false,
        "pure": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@layout/*": "./src/@components/@layout",
          "@atoms/*": "./src/@components/@atoms",
          "@molecules/*": "./src/@components/@molecules",
          "@hooks/*": "./src/@hooks",
          "@components/*": "./src/@components",
          "@lib/*": "./src/lib",
          "@query/*": "./src/@query/*",
          "@reducers/*": "./src/reducers",
          "@store/*": "./src/store",
          "@const/*": "./constants",
          "@types/*": "./@types",
          "@styles/*": "./src/style"
        }
      }
    ]
  ]
}