:root {
        --header-height: 75px;
        --primary-color: #a35dca;
        --primary-light-color: #b969e6;
        --secondary-color: #00d64c;
        --secondary-light-color: #67e895;
        --warn-color: #CC3300;
        --warn-light-color: #cd5026;
        --success-color: #24a0ed;
        --success-light-color: #49b3f5;
        --plain-color: #373b55;
        --plain-light-color: #52556d;
        --gray-0: #cacaca;
        --gray-1: #a3a0a0;
        --gray-2: #868484;
        --white: rgb(255 255 255 / 95%);
        --black-background: #161819;
        --white-border-color: rgba(255,255,255,0.1);
        --modal-background: #171717;
        --modal-backdrop: rgba(0, 0, 0, 0.4);
        --modal-boxshadow: rgb(0 0 0 / 18%) 0px 5px 11px 0px, rgb(0 0 0 / 15%) 0px 4px 15px 0px;

        --card-ratio: calc(100% * calc(334 / 260));
        --card-offset: 16px;

        --layer-header: 10;
        --layer-content: 20;
        --layer-modal: 100;
    }
    html,
    body {
        padding: 0;
        margin: 0;
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    }
    html * {
        outline: none;
    }
    html:has(dialog[open]) {
        overflow: hidden;
    }
    body {
        background-color: #161819;
        overflow: overlay;
        max-width: 100%;
        overflow-x: hidden;
    }
    body.ReactModal__Body--open {
        overflow-y: hidden;
    }

    #__next {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    h1, h2, h3, h4, h5, span, p {
        color: rgb(255 255 255 / 95%);
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-shadow: 0px 0px 1px rgb(255 255 255 / 30%);
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    * {
        box-sizing: border-box;
    }
    
    .quill .ql-snow {
        border: none;
    }
    .quill .ql-toolbar {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .quill .ql-container {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .quill .ql-editor * {
        color: var(--white);
    }
    .quill .ql-editor.ql-blank:before {
        color: var(--white);
    }
    .quill .ql-toolbar .ql-stroke {
        fill: none;
        stroke: #fff;
    }

    .quill .ql-toolbar .ql-fill {
        fill: #fff;
        stroke: none;
    }

    .quill .ql-toolbar .ql-picker {
        color: #fff;
    }
    .ql-snow .ql-picker-options {
        background-color: var(--black-background);
    }

    ul li::marker {
        color: var(--white);
    }

    kbd {
      background-color: #eee;
      border-radius: 3px;
      border: 1px solid #b4b4b4;
      box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 2px 0 0 rgb(255 255 255 / 70%) inset;
      color: #333;
      display: inline-block;
      font-size: 0.85em;
      font-weight: 700;
      line-height: 1;
      padding: 2px 4px;
      white-space: nowrap;
      margin-right: 4px;
    }